body{
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: linear-gradient(rgb(190, 190, 252),rgb(155, 155, 241));
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 20px;
    
}

form{
    background-color: white;
    
    min-height: 40rem;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-left: 20px;
    position: absolute;
    left: 35%;
    margin-top: 40px;
    padding: 20px;
}

header{
    font-size: 40px;
    color: blueviolet;
}

form div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.genre-div {
    
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.genre-div div{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.t-c-div{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    
}

#submit-button{
    width: 8rem;
    height: 3rem;
    border-radius: 5px;
    background-color: blueviolet;
    color: white;
    font-size: 20px;
}

.name,.email,.list{
    width: 400px;
    height: 1.5rem;
}

.name,.email,.list::placeholder{
    font-size: 16px;
}


.important{
    color: red;
}

.close{
    text-align: center;
    
    background-color: aqua;
    position: absolute;
    right:30px;
    cursor: pointer;
    padding: 10px;
    color:blueviolet;
    background-color: rgb(201, 201, 201);
    
}

.form-results{
    background-color: white;
    
    min-height: 30rem;
    display: flex;
    flex-direction: column;
    row-gap: 6rem;
    padding-left: 20px;
    position: absolute;
    left: 35%;
    margin-top: 180px;
    padding: 20px;
    margin-left: 3rem;
    font-size: 30px;
}



/* .para-div{
   background-color: rgb(255, 255, 255);
   display: flex;
   flex-direction: column;
   margin-top: 30px;
   text-align: left;
   padding-left: 170px;
} */

.forms-results{
    text-align: center;
   
    
}

.forms-results p{
    margin-top: 30px;
}

.terms{
    text-align: center;
    text-decoration: underline;
}
